.dashboard__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  box-sizing: border-box;
}

.dashboard__main {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.dashboard__content {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.content__button__export {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  right: 20px;
  top: 20px;
}

.block__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.4rem 1.5rem;
  background: #f95e21;
  border-radius: 3px;
  color: #fff;
  font-size: 0.85rem;
}
