.sidebar {
  background-color: #259780;
  /* background-color: #ffc0a7; */
  width: 18%;
  height: 100%;
  padding: 2px;
  scrollbar-width: none;
  box-sizing: border-box;
}

.span {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}